
p {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-family: Georgia, "Times New Roman", serif;
  color: #580333;
}

#container {
  width: 95%;
  margin: 0 auto;
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	  border-bottom: 1px solid #4B4A4A;
}

#nav a:link, #nav a:visited {
	  display:block;
    color: #580333;
    background-color: #878686;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, #nav a:active {
    background-color: #606060;
}

#search {
  padding: 0;
  list-style-type: none;
}

#search li {
    margin: 0;
    padding: 0;
	  border-bottom: 1px solid #4B4A4A;
}

#search a:link, #nav a:visited {
	  display:block;
    color: #580333;
    background-color: #878686;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#search a:hover, #nav a:active {
    background-color: #606060;
}

.caption {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: left;
}

#footer {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}

img {
	border: none;
}
